apiVersion: apps/v1
kind: Deployment
metadata:
  name: patch-k8s-server
  labels:
    app: patch-k8s-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: patch-k8s-server
  template:
    metadata:
      labels:
        app: patch-k8s-server
    spec:
      containers:
      - name: patch-k8s-server
        image: <your-docker-image>  # Replace with your Docker image
        ports:
        - containerPort: 8080
        resources:
            limits:
              memory: "128Mi"
              cpu: "200m"
            requests:
              memory: "64Mi"
              cpu: "100m"
